// Colors
$brand-primary: #17BEBB;
$brand-secondary: #2D4F51;

$rich-black: #020403;
$outer-space: #424B54;
$smoky-black: #070D0C;

$white: #FFFFFF;
$black: #000000;

// Spacers
$spacer:                    1.5rem !default;

$spacer-xx:                 $spacer * 4 !default; // 96px
$spacer-xl:                 $spacer * 2.5 !default; // 60px
$spacer-lg:                 $spacer * 2 !default; // 48px
$spacer-md:                 $spacer * 1.5 !default; // 36px
$spacer-sm:                 $spacer * .75 !default; // 18px
$spacer-xs:                 $spacer * .5 !default; // 12px
$spacer-xxs:                $spacer * .25 !default; // 8px

// Breakpoints
$screen-xs:                 30rem !default; // 480px
$screen-sm:                 45rem !default; // 720px
$screen-md:                 62rem !default; // 992px
$screen-lg:                 75rem !default; // 1200px

$screen-xs-max:             44.9375rem !default; // 719px ($screen-sm - 1px)
$screen-sm-max:             61.9375rem !default; // 991px ($screen-md - 1px)
$screen-md-max:             74.9375rem !default; // 1199px ($screen-lg - 1px)
$screen-lg-max:             89.9375rem !default; // 1439px ($screen-xl - 1px)

// Fonts
$font-family-headings:      'Montserrat', sans-serif !default;
$font-family-base:          'Open Sans', sans-serif !default;

// Font Sizes
$font-size-xs:              11px !default;
$font-size-sm:              12px !default;
$font-size-base:            14px !default;
$font-size-lg:              16px !default;

// Font Weights
$font-weight-light:         400 !default;
$font-weight-normal:        500 !default;
$font-weight-bold:          700 !default;
$font-weight-extra-bold:    800 !default;
